/* Insert Your Custom CSS Here */




.margin125 {
  margin-left: 11.5%;
}


.margintop40 { margin-top:40px;}
.vd_chat-menu.hidden-xs {
  display: none;
}
.navbar-tabs-menu.clearfix {
  display: none;
}
.vd_menu-search {
  display: none;
}
.vd_navbar-left .badge {
  font-size: 11px;
  padding: 9px 8px;
  width: 30px;
  border-radius: 22px;
}
.work-arrangement {
  margin-left: -3px;
}
footer {
  float: left;
 
  width: 100%;
}
.vd_nav-width { height:100%;}
.copyright {
  float: left;
  text-align: center;
  width: 100%;
}
.nav.nav-pills.nav-justified.ul-border {
  border-bottom: 5px solid #3598DC;
}
.description-margin { margin-top:25px;}


.company-desc {
  margin-left: -4px;
  width: 17%;
}
#tab32 .col-md-offset-1 {  margin-left: 5.333%;}
.div-repeat {float: left;  width: 100%;  margin-bottom: 15px;}
.Link-img img {  max-width: 100%;  height: 100px;}
#tab42 .form-group {  border-bottom: 1px solid #e7e7e7;}




.margin125 {
  margin-left:6.1%;
}
.detail-job span { color:#3598DC;}
.Detail-tabs .input-group-btn .btn {
  border-radius: 2px;
  padding: 3px 5px;
}
.Detail-tabs .dropdown-menu { font-size:12px; min-width: 69px;}
.center.time-font {
  font-size: 11px;
}
.Add-Expert { float:left; width:100%; margin-bottom:10px;}
.Detail-tabs .vd_checkbox.checkbox-success {
  float: left;
  width: 100%;
  margin-left: 32%;
}
.popup-text {
  font-size: 16px;
}

#tab42 .modal .form-group { border:none;}
.margin-top-10{margin-top:10px !important;}
.padding-top-10{padding-top:10px !important;}
.margin-left-10{margin-left:5px !important;}
.star-rating  .clear-rating{display:none;}
.margin-left-0{margin-left:0 !important;}
.margin-top-5{margin-top:5px !important;;}
.width-auto{width:auto !important;}
.margin-right-20{margin-right:20px !important;}
.margin-left-35{margin-left:35px !important;}
.margin-top-25{margin-top:25px !important;}
.single-job-candidates .form-group{margin-bottom:0 !important;}
.padding-0{padding:0 !important;}
.dataTables_filter{text-align:right !important;}
.margin-bottom-20{margin-bottom:20px !important;}
.prog-step {
  height: 2px;
  position:relative;
}
.prog-step .sub-label {
  font-size: 10px;
  left: -20px;
  position: absolute;
  top: 10px;
  transform: rotate(-20deg);
  width: 60px;
}
.prog-step i {
  background: #ffffff none repeat scroll 0 0;
  color: #1fae66;
  font-size: 15px;
  left: -6px;
  position: absolute;
  top: -7px;
}
.progress-tracker-table td{padding:20px 15px 25px !important;}
.tabs .form-group { float:left; width:100%;}
.mgtp-40 {  margin-bottom: 40px !important;}
.cart-table td {  padding: 36px 10px !important;}
.cart-table ul { list-style:none;}
.cart-table li { margin-bottom:5px;}
.orderTotal {
  float: right;
  font-size: 16px;
  margin-top: 10px;
  width: 29%;
}
.lineTitle.forward {
  float: left;
  margin-right: 7%;
  min-width: 31%;
}
.cart-table {  border-bottom: 2px dotted #cccccc;  float: left;  width: 100%;}

.cartSubTotal {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.total-border {
  float: left;
  width: 100%;
  margin-top: 12px;
  border-top: 2px dotted #ccc;
}
.check-Out {
  float: left;
  margin-top: 10px;
  width: 100%;
}
.list-style-none{list-style:none;}
.margin-top-20{margin-top:20px !important;}
.margin-left-0{margin-left:0 !important;}
.login-btns a{font-size:30px}
.clear-left{clear:left !important;}
.margin-left-14{margin-left:14px !important}
.padding-left-0{padding-left:0 !important;}
.video-frame {
  border: 1px solid #e5e5e5;
  margin-bottom: 30px;
  padding: 100px 0;
}
.assessment-q p{color:#3598dc; font-weight:700}
.blue {
  border: 1px solid #3598dc;
  border-radius: 50%;
  color: #3598dc;
  cursor: pointer;
  float: left;
  height: 25px !important;
  margin: 0;
  text-align: center;
  width: 25px !important;
}
.tool-tip {
  float: right;
  margin-right: 30%;
}
.term-condition { font-size:12px !important;}