
@media(max-width:1024px){
	.page-wrapper{ width:94%; }
	.skills-section .left-skills{ width:45%; }
	.skills-section .right-skills{ width:50%; }
	.job-histroy .right-job-sec{ width:48%; }
	.footer-section .mid-footer{ width:405px; }
	.header h1{ font-size:30px; }
	.parallax{ min-height:200px; }
	
}


@media(max-width:980px){
	.job-histroy .left-job-sec{ width:430px; }
	.job-histroy .mid-job-border{ left:52%; }

}

@media(max-width:979px){
	.profile-section .proile-lft-section { float: none; margin: 0 auto; width: 220px; }
	.summry-section ul.data-list li{ margin-right:12px; }
	.skills-section .left-skills{ width:100%; }
	.skills-section .left-skills .chart{ width:100%; text-align:center; }
	.skills-section .right-skills { margin-top: 40px; width: 100%; }
	.job-histroy .mid-job-border { left: 51.2%; }
	.job-histroy .left-job-histry { width: 50%; }
	.job-histroy .right-job-sec { width: 100%; margin-top: 40px; }
	.navbar .nav ul.menu li{ margin-left:8px; }
	.navbar .nav ul.menu li a{ padding:14px; }
	.footer-section .f-logo { margin-bottom: 20px; text-align: center; width: 100%; }
	.footer-section .right-footer { float: none; margin: 0 auto; width: 218px; }
	.footer-section .mid-footer{ float:none; margin:0 auto; }
	.footer-section p{ text-align:center; }
	.footer-section .right-footer p{ margin-top:25px; }
	.job-histroy .left-job-sec{ width:100%; }
	.footer-section .mid-footer{ border-right:none; }
	.footer-section .right-footer input.submit-btn{ margin-left:33%; }
	.profile-section .proile-rt-section{ width:100%; }
}

@media(max-width:768px){
	.profile-section h2{ font-size:24px; }
	.summry-section .heading-bx-01 { margin: 0 auto; width: 250px; }
	.summry-section h2{ font-size:20px; }
	.summry-section .heading-bx-04{ width:140px; }
	.summry-section .heading-bx-03{ width:140px; }
	.navbar .logo{ width:100%; text-align:center; margin-bottom:20px; }
	.navbar .nav { float: none; margin: 0 auto; width: 565px; }
	.slider-arrow--left{ top:180px; }
	.slider-arrow--right{ top:180px; }
	
	
}
@media(max-width:767px){
	.summry-section .data-analyst-sec .left-date-sec{ width:100%; }
	.summry-section ul.data-list li { margin-right: 0; width: 50%; margin-bottom: 15px; }
	.summry-section .view-result-btn{ width:100%; }
	.summry-section .close-btn{ width:100%; }
	.smaller{ display:none; }
}



@media(max-width:600px){
	
	.navbar .nav ul.menu li{ width:100%; margin-left:0; }
	.navbar .nav ul.menu li a{ padding:14px 0; width:100%; text-align:center; border-bottom:1px solid #f0f0f0; }
	.navbar .menu-btn{ display:block; width:100%; text-align:center; float:left; cursor:pointer; }
	.skills-section .language-set{ width:100%; }
	.profile-section .btns-section .btn-list{ float:none; width:230px; margin:0 auto; }
	.profile-section .btns-section .btn-list li{ margin:20px 0 0 37px; }
	.profile-section .btns-section .btn-list li:nth-child(2){ margin-left:0 !important; }
	.profile-section .btns-section .btn-list li:last-child{ margin-bottom:30px; }
	.navbar .nav ul.menu{ width:100%; }
	.navbar .nav{ width:100%; }
	.header .mid-header{ width:100%; }
	.header .mid-header .mid-text-box{ width:100%; }
	.profile-section .btns-section{ width:100%; }
	.profile-section .location-sec{ width:100%; }
	.header h1{ font-size:22px; line-height:30px; }
	.header h2{ font-size:17px; }
	.header .rounded-box{ left:33%; }
	
	
	
}

@media(max-width:480px){
	.education-section .mid-edu-sec{ width:100%; }
	.footer-section .mid-footer{ width:100%; }
	.footer-section .f-menu li{ width:100%; border-right:none; text-align:center; padding-right:0; line-height:24px; }
	.footer-section .f-menu li + li{ padding:0; }
	.summry-section .slider .video-sec { width: 220px;}
	.video-sec object {  height: 170px !important;}
	.slider-arrow--right {right: -32px;}
	
}

@media(max-width:444px){
	.skills-section .left-skills .chart img{ width:100%; }
	.summry-section ul.data-list li{ width:100%; }
	.chart > img {  width: 100%;}
	.job-histroy .left-job-histry{ width:100%; text-align:center; }
	.job-histroy .mid-job-border{ display:none; }
	.job-histroy .mian-left-h-sec{ border-bottom:1px solid #f0f0f0; min-height:140px; margin-bottom:20px; }
	.skills-section h3{ width:100%; text-align:center; margin-bottom:20px; }
	.skills-section .skills-list .progress-bar{ margin-left:13%; float:left; }
	.profile-section .location-sec .email-sec{ width:100%; margin-bottom:15px; }
	.profile-section .location-sec .location-sec{ width:100%; }
	.education-section h3{ font-size:13px; }
/*	.slider-arrow--left{ display:none; }
	.slider-arrow--right{ display:none; }*/
	#w{ padding:0; }
	.job-histroy h3{ width:100%; }
	
}