
/** page structure **/
inr-summry-sec #w {
  display: block;
  max-width: 100%;
  min-width: 280px;
  margin: 0 auto;
}

inr-summry-sec #w header {
  display: block;
  padding-top: 15px;
}

/** Glidejs styles **/
inr-summry-sec .slider {
	position: relative;
	width: 100%;
	overflow: hidden;
}
	
inr-summry-sec .slides {
  height: 100%;
  overflow: hidden;
  /**	
   * Prevent blinking issue
   * Not tested. Experimental.
   */
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;

   -webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
	
inr-summry-sec .slide {
  height: 100%;
  float: left;
  clear: none;
}
inr-summry-sec .slide figure {
  display: block;
  position: relative;
  text-align: center;
}
inr-summry-sec .slide figure figcaption {
  position: absolute;
  right: 20%;
  font-size: 1.1em;
  font-weight: bold;
  padding: 8px 14px;
  color: #464646;
  background: rgba(255,255,255,0.8); 
}
inr-summry-sec .slide figure figcaption a {
  color: #5a7fbc;
  text-decoration: none;
}
inr-summry-sec .slide figure figcaption a:hover { text-decoration: underline; }

.slide figure img {
  max-height: 480px;
}



inr-summry-sec .slider-arrows {}

inr-summry-sec .slider-arrow {
  position: absolute;

}

inr-summry-sec .slider-arrow--right { top:62%; right:0px; background:url(../images/right-arrow.png) 0 0 no-repeat; width:46px; height:46px; }
inr-summry-sec .slider-arrow--left { top:62%; left:0px; background:url(../images/left-arrow.png) 0 0 no-repeat; width:46px; height:46px; }


inr-summry-sec .slider-nav {
  position: absolute;
  bottom: 0px; display:none;
}

inr-summry-sec .slider-nav__item {
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
inr-summry-sec .slider-nav__item:hover { background: #bababa; }
inr-summry-sec .slider-nav__item--current, .slider-nav__item--current:hover { background: #999; }



/** responsive styles **/
@media screen and (max-width: 1050px) {
  #w { padding: 0 15px; }
  .slider-arrow { font-size: 1.8em; padding: 15px; }
} 





/*HOME PAGE SLIDER CSS START HERE*/


/** page structure **/
 #w {
  display: block;
  max-width: 751px;
  min-width: 280px;
  margin: 0 auto;
}

 #w header {
  display: block;
  padding-top: 15px;
}

/** Glidejs styles **/
 .slider {
	position: relative;
	width: 100%;
	overflow: hidden;
}
	
 .slides {
  height: 100%;
  overflow: hidden;
  /**	
   * Prevent blinking issue
   * Not tested. Experimental.
   */
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;

   -webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
	
 .slide {
  height: 100%;
  float: left;
  clear: none;
}
.slide figure {
  display: block;
  position: relative;
  text-align: center;
}
 .slide figure figcaption {
  position: absolute;
  right: 20%;
  font-size: 1.1em;
  font-weight: bold;
  padding: 8px 14px;
  color: #464646;
  background: rgba(255,255,255,0.8); 
}
 .slide figure figcaption a {
  color: #5a7fbc;
  text-decoration: none;
}
.slide figure figcaption a:hover { text-decoration: underline; }

 .slide figure img {
  max-height: 480px;
}



 .slider-arrows {}

 .slider-arrow {
  position: absolute;

}

.slider-arrow--right { top:100px; right:1px; background:url(../images/right-arrow.png) 0 0 no-repeat; width:46px; height:74px; }
.slider-arrow--left { top:100px; left:1px; background:url(../images/left-arrow.png) 0 0 no-repeat; width:46px; height:74px; }


 .slider-nav {
  position: absolute;
  bottom: 0px; display:none;
}

.slider-nav__item {
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
 .slider-nav__item:hover { background: #bababa; }
 .slider-nav__item--current, .slider-nav__item--current:hover { background: #999; }



/** responsive styles **/
@media screen and (max-width: 1050px) {
  #w { padding: 0 15px; }
 .slider-arrow { font-size: 1.8em; padding: 15px; }
} 
