@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/pts75f-webfont.eot');
    src: url('../fonts/pts75f-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts75f-webfont.woff') format('woff'),
         url('../fonts/pts75f-webfont.ttf') format('truetype'),
         url('../fonts/pts75f-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/pts55f-webfont.eot');
    src: url('../fonts/pts55f-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts55f-webfont.woff') format('woff'),
         url('../fonts/pts55f-webfont.ttf') format('truetype'),
         url('../fonts/pts55f-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{ margin:0; padding:0; }
a{ text-decoration:none; outline:none; }
img{ border:none; outline:none; }
body{ font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#fff; }


.site-wrapper{ float:left; width:100%; }
.page-wrapper{ width:950px; margin:0 auto; }

.header-wrapper{ float:left; width:100%; background:url(../images/header-bg.jpg) 0 0 no-repeat; }
.header{ float:left; width:100%; }
.header .top-menu-btn{ float:left; width:100%; text-align:center; margin-bottom:108px; margin-top:76px; }
.header .mid-header{ width:504px; margin:0 auto; }
.header .mid-header .mid-text-box{ float:left; width:500px; position:relative; border:2px solid #fff; padding:35px 0; }

.header .rounded-box{ position:absolute; left:40%; top:-73px; width:100px; height:100px; border-radius:100%; background:#2980ba; }
.header .rounded-box .hi-txt{ float:left; width:100%; line-height:40px; font-size:40px; font-family: 'pt_sansbold'; text-align:center; line-height:100px; }
.header h1{ float:left; width:100%; font-weight:normal; font-family: 'pt_sansbold'; font-size:40px; text-align:center; margin-bottom:20px; line-height:50px; }
.header h2{ float:left; width:100%; font-weight:normal; font-family: 'pt_sansregular'; text-align:center; font-size:20px; }


.navbar-wrapper{ border-bottom: 1px solid #d9d9d9; float: left; width: 100%; padding:19px 0; }
.navbar{ float:left; width:100%;margin-bottom:0px !important }
.navbar .logo{ float:left; margin-top:5px; }
.navbar .nav{ float:right; width:80%; }
.navbar .nav ul.menu{ float:right; list-style:none; }
.navbar .nav ul.menu li{ float:left; list-style:none; font-size:14px; margin-left:15px; }
.navbar .nav ul.menu li a{ float:left; padding:14px 20px; color:#363636; border-radius:4px; }
.navbar .nav ul.menu li a:hover{ background:#2babe2; color:#fff; }
.navbar .nav ul.menu li.active a{ background:#2babe2; color:#fff; }
.menu-btn img{ cursor:pointer; }

.profile-wrapper { float: left; width: 100%; border-top: 2px solid #f0f0f0; padding:44px 0; }
.profile-section{ float:left; width:100%; }
.profile-section .proile-lft-section{ float:left; width:220px; }
.profile-section .proile-lft-section .profile-dp {
 
  border-radius: 50%;
  float: left;
  height: 180px;
  margin-bottom: 25px;
  text-align: center;
  width: 180px;
}
.profile-section .proile-lft-section .profile-dp img {
  border-radius: 50%;
  margin-left: 0;
  margin-top: 38px;
}
.profile-section .proile-lft-section .download-btn{ float:left; width:204px; background:#2980ba; font-family: 'pt_sansbold'; color:#fff; padding:15px 0px 15px 0; text-align:center; border-radius:25px; margin-left:8px; font-size:16px; }
.profile-section .proile-lft-section .download-btn:before{ content:url(../images/download-icon.png);   position:relative; left:-12px; top:1px;   }
.profile-section .proile-lft-section .download-btn:hover{ background:#51b8a4; }
.profile-section .proile-rt-section{ float:right; width:700px; padding-top:25px; }
.profile-section h2{ float:left; width:100%; font-family: 'pt_sansbold'; font-size:40px; text-align:center; color:#363636; margin-bottom:15px; }
.profile-section h2 span{ font-family: 'pt_sansregular'; }

.profile-section .location-sec{ margin:0 auto; width:520px; }
.profile-section .location-sec .email-text{ float:left; font-size:14px; color:#464646; font-family: 'pt_sansregular'; }
.profile-section .location-sec .email-text a{ color:#464646; }
.profile-section .location-sec .email-text a:hover{ text-decoration:underline; }
.profile-section .location-sec .profile-icons{ float:left; margin-right:15px; }
.profile-section .location-sec .location-text{ float:left; font-size:14px; color:#464646; font-family: 'pt_sansregular';width: 77%;line-height: 17px; }
.profile-section .location-sec .email-sec{ float:left; width:50%; }
.profile-section .location-sec .location-sec{ float:left; width:50%; }
.profile-section .btns-section{ width:560px; margin:0 auto; }
.profile-section .btns-section .btn-list {
  clear: left;
  float: left;
  margin-bottom: 45px;
  margin-left: 29%;
} 
.profile-section .btns-section .btn-list li{ float:left; list-style:none; margin-right:10px; }
.profile-section .btns-section .btn-list li a{ float:left; width:155px; height:54px; color:#fff; background:#458ec6; border-radius:4px; }
.profile-section .btns-section .white-pic-bx{ float:left; width:57px; height:50px; border-radius:4px 0px  0 4px; margin:2px 0 0 2px; margin-right:20px; background:#fff; }
.profile-section .btns-section .btn-list li+li a{ background:#39b54a; width:230px; }
.profile-section .btns-section .btn-list li+li+li a{ background:#f7941d; width:155px; }

.profile-section .btns-section .white-pic-bx img { left: 50%; position: relative; text-align: center; top: 50%; transform: translateY(-50%) translateX(-50%); }
.profile-section .btns-section .btn-text-01{ float:left; font-family: 'pt_sansbold'; font-size:18px; text-align:center; margin-top:18px; }

.profile-section .btns-section .btn-text-02{ float:left; font-family: 'pt_sansbold'; font-size:18px; text-align:center; margin-top:18px; width:100%; }
.profile-section .btns-section .btn-text-02 span{ font-family: 'pt_sansregular'; font-size:14px; }
.profile-section .btns-section .btn-text-03{ float:left; font-family: 'pt_sansbold'; font-size:18px; text-align:center; margin-top:10px;  }
.profile-section .btns-section .btn-text-03 span{ font-family: 'pt_sansregular'; font-size:14px; }

.profile-section .btns-section .btn-list li:last-child{ margin-right:0; }
.profile-section h3{ float:left; width:100%; font-size:18px; color:#252525; text-align:center; font-family: 'pt_sansbold'; font-weight:normal; margin-bottom:5px; }
.profile-section p{ float:left; width:100%; text-align:center; font-family: 'pt_sansregular'; color:#464646; font-size:13px; line-height:18px; }

.summry-wrapper{ background:#f6f6f6;  float:left; width:100%; padding:38px 0; }
.summry-section { float: left; width: 100%; }

.summry-section .inr-summry-sec { float: left; width: 98%; background:#fff; padding:25px 1%;position:relative; }
.summry-section  h2{ float:left; font-family: 'pt_sansbold'; font-size:30px; color:#363636; line-height:42px; }
.summry-section .heading-bx-01{ width:340px; margin:0 auto; }
.summry-section .left-icon{ float:left; margin-right:20px; }

.summry-section .data-analyst-sec{ float:left; width:100%; padding:13px 0; border-top:1px solid #f2f2f2; }
.summry-section .data-analyst-sec .left-date-sec{ float:left; width:62%; }
.summry-section .data-analyst-sec h3{ float:left; width:100%; font-family: 'pt_sansbold'; font-size:18px; color:#252525; font-weight:normal;  }
.summry-section .top-date-sec{ float:left; width:100%; }

.summry-section ul.data-list{ float:left; width:100%; margin-top:9px; }
.summry-section ul.data-list li{ float:left; list-style:none; margin-right:16px;  font-family: 'pt_sansregular'; font-size:13px; color:#b5b5b5; line-height:15px; }
.summry-section ul.data-list li a{ color:#b5b5b5; padding:0 8px; }
.summry-section ul.data-list li a:hover{ background:#e7eaed; border-radius:10px;  }
.summry-section ul.data-list .data-icons{ float:left; margin-right:8px; }
.summry-section .view-result-btn{ float:right; width:124px; height:51px; line-height:51px; text-align:center; color:#fff; border-bottom:5px solid #81a6c2; border-radius:4px; background:#458ec6; font-family: 'pt_sansbold'; font-size:16px; }
.summry-section .close-btn{ float:right; background:#c2c2c2; border-bottom:5px solid #acacac; width:44px;height:51px; line-height:51px; text-align:center; font-family: 'pt_sansbold'; font-size:16px; color:#fff; border-radius:4px; }

.summry-section .slider{ float:left; width:100%; border-bottom:1px solid #f2f2f2; padding-bottom:35px; }
.summry-section .slider h3 {
  color: #252525;
  float: left;
  font-family: "pt_sansbold";
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

.summry-section .slider h4 {
  color: rgb(70, 70, 70);
  float: left;
  font-family: "pt_sansregular";
  font-size: 13px;
  padding: 0 20px;
  text-align: justify;
  width: 93%;
}
.summry-section .slider .video-sec{ width:400px; margin:0 auto; text-align:center; margin-top:30px; }
.summry-section .slider .video-sec img{ width:100%; margin-top:30px; }

.summry-section .heading-bx-02 { margin: 0 auto; width: 130px;}
.summry-section .heading-bx-03 { margin: 0 auto; width: 190px;}
.summry-section .heading-bx-04 { margin: 0 auto; width: 190px;}
.skills-section .left-skills{ float:left; width:460px; }
.skills-section .left-skills .chart{ float:left; width:100%; margin:40px 0 60px 0; }
.heading-section {
  float: left;
  margin-bottom: 35px;
  width: 100%;
}
.skills-section{ float:left; width:100%; }
.skills-section p{ float:left; width:95%; font-size:12px; color:#464646;  font-family: 'pt_sansregular'; line-height:16px;  }
.skills-section .right-skills{ float:right; width:460px; }
.skills-section .skills-list{ float:left; width:100%; }
.skills-section .skills-list li{ float:left; width:100%; list-style:none; border-top:1px solid #f2f2f2; padding:25px 0 25px 0; }
.skills-section  h3{ float:left; font-family: 'pt_sansbold'; font-size:18px; color:#252525; font-weight:normal;  }
.skills-section .skills-list .progress-bar{ float:right; width:215px; border-radius:25px; height:16px; background:#ecf0f1; }
.skills-section .skills-list .progress-bar-01{background:#2dcc70; float:left; width:82%; height:16px; border-radius:25px; }
.skills-section .skills-list .progress-bar-02{background:#004a80; float:left; width:90%; height:16px; border-radius:25px; }
.skills-section .skills-list .progress-bar-03{background:#458ec6; float:left; width:70%; height:16px; border-radius:25px; }
.skills-section .skills-list .progress-bar-04{background:#f06eaa; float:left; width:80%; height:16px; border-radius:25px; }
.skills-section .skills-list .progress-bar-05{ background:#f9ad81; float:left; width:88%; height:16px; border-radius:25px; }
.skills-section .skills-list .progress-bar-06{ background:#004a80; float:left; width:90%; height:16px; border-radius:25px;  }
.skills-section .skills-list .progress-bar-sec{ float:left; width:100%; margin-bottom:25px ; }
.skills-section .skill-set-heaing{ float:left; width:100%; text-align:center; }
.skills-section .linkedin-profile{ float:left; width:100%; margin:30px 0; }
.skills-section .linkedin-profile .linked-box{ width:115px; margin:0 auto; font-family: 'pt_sansbold'; font-size:11px; color:#16a085; line-height:20px; }
.skills-section .linkedin-profile .linked-box .linked-icon{ float:left; margin-right:6px; }

.skills-section .language-set{ width:600px; margin:0 auto; }
.skills-section .language-list{ float:left; width:100%; }
.skills-section .language-list li {
  float: left;
  font-family: "pt_sansbold";
  font-size: 13px;
  margin-bottom: 17px;
  margin-left: 3%;
  width: 30%;
}

.summry-section .slider .video-sec object {
  height: 250px;
  width: 100%;
  float: left;
  margin: 40px 0 0 0;
}
.skills-section .language-list li a {
  background: none repeat scroll 0 0 #ecf0f2;
  border-radius: 25px;
  color: #464646;
  float: left;
  font-weight: normal;
  margin-left: 0;
  padding: 13px 0;
  text-align: center;
  width: 100%;
}


.job-histroy{ float:left; width:100%; margin-top:20px; border-bottom:1px solid #f2f2f2; }
.job-histroy .left-job-sec{ float:left; width:100%; position:relative; }
.job-histroy .right-job-sec{ float:right; width:460px; }

.job-histroy p {
  color: #464646;
  float: left;
  font-family: "pt_sansregular";
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 30px;
  min-height: 52px;
  width: 100%;
}
.job-histroy p a{ font-family: 'pt_sansbold'; color:#464646; }
.job-histroy p a:hover{ color:#2980ba; }
.job-histroy  h3{ float:left; font-family: 'pt_sansbold'; font-size:18px; color:#458ec6; font-weight:normal;  }
.job-histroy .current-date{ float:left; font-family: 'pt_sansbold'; font-size:14px; color:#252525; line-height:18px; width:80%; }
.job-histroy .left-job-histry{ float:left; width:215px; }

.job-histroy .mian-left-h-sec {
  float: left;
  min-height: 100px;
  width: 100%; background:url(../images/border.png) 224px 0 repeat-y;
}
.job-histroy .mid-job-border {
  background: none repeat scroll 0 0 #f2f2f2;
  height:311px;
  left: 48.6%;
  position: absolute;
  top: 25px;
  width: 1px;
}
.job-histroy  .gray-circle{ width:20px; height:20px; background:#f2f2f2; border-radius:100%; margin:0 12px 0 0px; float:left; }


.education-section{ float:left; width:100%; margin-top:15px;  }
.education-section .mid-edu-sec{ width:450px; margin:0 auto; }
.education-section .years-detail-sec{ float:left; width:100%; margin-bottom:40px; }
.education-section .mid-edu-sec .blue-wrapper{ width:120px; margin:0 auto; }
.education-section .mid-edu-sec .blue-box{ float:left; width:120px; margin-bottom:30px; padding:30px 0; height:60px; background:#2980ba; border-radius:100%; position:relative; }
.education-section .mid-edu-sec .blue-box .down-arrow{ position:absolute; left:50%; width:1px; height:18px; bottom:-18px; background:#2980ba;  }
.education-section  h3{ float:left; font-family: 'pt_sansbold'; font-size:18px; color:#252525; font-weight:normal;  float:left; width:100%; text-align:center; }
.education-section  h3 span{ color:#fff; }
.education-section p{ float:left; width:100%; text-align:center; margin-top:5px; font-family: 'pt_sansregular'; color:#464646; font-size:13px; line-height:18px; }
.education-section p a{ font-family: 'pt_sansbold'; color:#464646; }
.education-section p a:hover{ color:#2980ba; }



.divider{ float:left; width:100%; height:1px; background:#f0f0f0; margin-bottom:30px;  }



.footer-wrapper{ float:left; width:100%; background:#0a121f; padding:38px 0; }
.footer-section{ float:left; width:97%; padding:0 1% 0 2%; }
.footer-section .f-logo{ float:left; width:215px; }

.footer-section .mid-footer{ float:left; width:450px; border-right:1px solid #3b414c; min-height:130px; }
.footer-section .f-menu{ float:left; width:100%; margin:12px 0 28px 0; }
.footer-section .f-menu li{ float:left; list-style:none; border-right:1px solid #fff; font-size:12px; font-family: 'pt_sansregular'; padding:0 7px 0 0;  }
.footer-section .f-menu li+li{ padding:0 7px; }
.footer-section .f-menu li a{ color:#fff; }
.footer-section .f-menu li a:hover{ color:#2dcc70; }
.footer-section .f-menu li:last-child{ border-right:none; }
.footer-section p{ float:left; width:100%; font-family: 'pt_sansregular'; font-size:12px; }
.footer-section p a{ color:#fff; }
.footer-section p a:hover{ color:#2dcc70; }
.footer-section .right-footer{ float:right; width:218px; margin-top:12px; }
.footer-section .right-footer input.text-box{ float:left; width:192px; padding:11px 13px;  font-family: 'pt_sansregular'; font-size:12px; color:#707070; background:#fff; border-radius:4px; border:none; margin:14px 0 8px 0; }
.footer-section .right-footer input.submit-btn{ float:left; width:74px; height:24px; line-height:22px; text-align:center; border-bottom:1px solid #218e30; border-top:1px solid #218e30; border-radius:4px; background:#39b54a; cursor:pointer; border-right:none;border-left:none; font-family: 'pt_sansbold'; font-size:10px; color:#fff; }

.parallax { background-attachment: fixed; background-position: center 0; background-repeat: no-repeat; background-size: cover; position: relative;  width:100%;}


/* sticky navigation css start here*/
.navbar-wrapper{width: 100%;
  overflow: hidden;
  position: absolute;
  bottom:0;
  left: 0;
  z-index: 999;
  background-color:#fff;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; display:none; }

.smaller{ position:fixed; padding:8px 0; display:block !important; transition: opacity 2s linear; top:0; height:42px; }
.smaller .navbar .nav ul.menu li{ font-size:13px; }
.profile-section p a{ color:#2babe2; }
.profile-section p a:hover{ color:#2babe2; }
.profile-dp > img {
  height: 100px;
  width: 100px;
}
.overlay {
  /*background: rgba(0,0,0,0.7);*/
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity:0.9;
  z-index:1;
}
.nav_up {
  background: url("../images/arrow_up.png") no-repeat scroll 50% 50% #2980ba;
  border: 1px solid rgb(204, 204, 204);
  bottom: 10px;
  cursor: pointer;
  height: 20px;
  right: 30px; 
  padding: 7px;
  position: fixed;
  white-space: nowrap;
  width: 20px;
}
.skill-set  { float:left; width:98%; background:none repeat scroll 0 0 #fff; padding:25px 1%; margin-bottom:50px;}
.skills-section .linkedin-profile .linked-box a{ color:#16a085; }
a.tooltip {outline:none; } a.tooltip strong {line-height:30px;} a.tooltip:hover {text-decoration:none;} 
a.tooltip span {
  display: none;
  line-height: 16px;
  margin-top: -57px;
  padding: 3px 11px;
  right: 55px;
  width: 145px;
  z-index: 10;
} 
a.tooltip:hover span {
  background: none repeat scroll 0 0 rgb(250, 250, 250);
  border: 1px solid rgba(239, 217, 115, 0.9);
  box-shadow: 0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.3);
  color: rgb(17, 17, 17);
  display: inline;
  position: absolute;
}
.callout {
  border: 0 none;
  left: 64px; 
  position: absolute;
  top: 38px;
  z-index: 20;
}
/*CSS3 extras*/ a.tooltip span { border-radius:4px; box-shadow: 5px 5px 8px #CCC; }
         #popups {
            border: 1px solid gray;
            border-radius: 5px 5px 5px 5px;
            float: left;
            left:0;
            margin: auto;
            position: fixed;
            top: 0px;
            width:100%; height:100%;
        }
		.area-section{ width:58%; margin:0 auto; }
.area-section-01 {
  background: none repeat scroll 0 0 #ffffff;
  border-radius: 4px;
  float: left;
  height: 500px;
  margin-top: 10%;
  overflow-x: hidden;
  padding-bottom: 26px;
  padding-top: 26px;
  position: relative;
  width: 94%;
}
		.area-section-01 .three-btns{ float:left; width:100%; height:30px; line-height:30px; font-size:16px; text-align:center; margin-bottom:20px; background:#003063; border-radius:4px; color:#fff; text-decoration:none; }
		.area-section-01 .three-btns:hover{ background:#0066b3; }
		.area-section-01 .three-btns:last-child{ margin-bottom:0; }
		.list-rules.list-rules2 {
  float: left;
  list-style: outside none none;
  width: 100%;
}
.list-rules.list-rules2 > li {
  border-bottom: 1px solid #cccccc;
  float: left;
  font-family: arial;
  font-size: 14px;
  line-height: 20px;
  list-style: outside none none;
  margin-bottom: 11px;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 11px;
  width: 95%;
}
.assess-problems h6 {
  background: none repeat scroll 0 0 #39b54a;
  color: #fff;
  float: left;
  font-size: 26px;
  margin: 0 auto 14px 2%;
  padding: 8px;
  text-align: center;
  width: 94%;
}
.lispace2 {
  color: #464646;
  font-weight: 600;
  padding-left: 24px;
}
.lispace1 {
  color: #55c6f2;
  float: left;
  margin-right: 6px;
}
.popup-opens {
  background: none repeat scroll 0 0 #39b54a;
  border: medium none;
  border-radius: 4px;
  color: #ffffff;
  float: left;
  font-size: 16px;
  font-weight: bold;
  height: 54px;
  margin-left: 46px;
  text-align: center;
  width: 155px;
}
.popup-opens:hover {
  background: none repeat scroll 0 0 #39b54a !important;
}
.list-rules.list-rules2 > li:nth-child(odd){ clear:left; }
#popup-close {
  border: 1px solid;
  border-radius: 27px;
  color: #000;
  float: right;
  font-size: 23px;
  margin-right: 4%;
  margin-top: 5px;
  padding: 5px;
  position: absolute;
  right: 0;
}

    #overlay-custom {
            border: 1px solid gray;
            border-radius: 5px 5px 5px 5px;
            float: left;
            left:0;
            margin: auto;
            position: fixed;
            top: 0px;
             background:none repeat scroll 0 0 rgba(0, 0, 0,0.5); width:100%; height:100%;
        }
		.modal-header {
  border-bottom: none !important;
  padding: 9px 15px;
}
.modal-footer .summry-section .data-analyst-sec .left-date-sec{ float:left; width:100%; }
.modal-footer  .summry-section .data-analyst-sec h3 {
  color: #252525;
  float: left;
  font-family: "pt_sansbold";
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  width: 100%;
}
.tooltip {
  display: block;
  font-size: 11px;
  line-height: 1.4;
  opacity: 100 !important;
  position: relative !important;
  visibility: visible;
  z-index: 1030;
}
.video-sec-text {
  color: #4d4e53;
  line-height: 18px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: justify;
  width: 93%;
}
.video-sec-question {
  line-height: 18px;
  margin: 0 auto;
  text-align: center;
  width: 86%;
}
.video-sec-question table {
  clear: left;
  color: #000;
  margin: auto;
}
.question-outter {
  border: 1px solid #D0D0D0;
  margin: 0 auto;
  padding-top: 12px;
  width: 76%;
}
.answer-outter {
  border: 1px solid #D0D0D0;
  margin: 10px auto 0;
  padding-bottom: 12px;
  padding-top: 12px;
  width: 100%; float:left;
}
.answer-sec {
  width: 76%;
  margin: 0 auto;
}